# This workflow should install niceplots and dependencies the check formatting with flake8 and black and then check the the examples run without error

name: niceplots

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  format:
    uses: mdolab/.github/.github/workflows/format.yaml@main
    with:
      black_version: "22.1.0"

  lint:
    uses: mdolab/.github/.github/workflows/lint.yaml@main

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
        numpy-version: ["1.16.6", "1.18.5"]
        mpl-version: ["3.2.*", "3.3.*", "3.4.*"]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          sudo apt-get install fonts-cmu
          pip install --upgrade pip wheel
          pip install numpy==${{ matrix.numpy-version }}
          pip install matplotlib==${{ matrix.mpl-version }}
          pip install .
      - name: Test examples
        run: |
          # this is very janky for now
          cd examples
          bash testExamples.sh
